@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap');

* {
    font-family: 'Hind Vadodara', sans-serif;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.w-optimal-reading {
    max-width: 80ch;
}

@media screen and (max-width: 768px) {
    .w-optimal-reading {
        text-align: left;
    }
}
